<h1>Bonjour, confirmer votre addresse mail !</h1>

<p>
    Confirmer votre adresse mail en cliquant sur le lien suivant <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse mail</a>.
    Ce lien expire dans {{ expiresAt|date('g') }} heure(s).
</p>

<p>
    A bientot !
</p>
