<h1>Bonjour, confirmer votre addresse mail !</h1>

<p>
    Confirmer votre adresse mail en cliquant sur le lien suivant <br><br>
    <a href="{{ url('app_verify_email', {idUser: idUser, token: token}) }}">Confirmer mon adresse mail</a>
</p>

<p>
    A bientot !
</p>
